#gpum-popup4preview-close-button {
    list-style-image: url("../icon16/close.gif");
}

.gpum-link {
    cursor         : pointer !important;
    padding-bottom : 1px !important;
    padding-top    : 2px !important;
}

.gpum-link:hover {
    text-decoration: underline;
}

/* ============================================================
   Basic Popup Style
   ============================================================ */

#gpum-popup, #gpum-popup4preview {
    -moz-appearance  : none !important;
    border           : none !important;
    background-color : transparent !important;
}

#gpum-popup > vbox, #gpum-popup4preview > vbox {
    color              : black !important;
    background-color   : white !important;
    border             : 1px solid #2266b3 !important;
    -moz-box-shadow    : 0px 0px 7px #353535 !important;
}


/* ============================================================
   Preview
   ============================================================ */

#gpum-popup4preview-header {
    padding    : 3px !important;
    color      : white !important;
    background : -moz-linear-gradient(
        center bottom,
        rgb(81,119,156) 0%,
        rgb(125,148,171) 61%
    ) !important;
}

#gpum-popup4preview-frame {
    width  : 600px !important;
    height : 400px !important;
}

#gpum-popup4preview-header-title {
    width       : 450px !important;
    font-weight : bold !important;
}

/* ============================================================
   Popup
   ============================================================ */

#gpum-popup > vbox {
    overflow-y         : scroll !important;
    overflow-x         : auto !important;
    width              : 640px !important;
    max-width          : 640px !important;
    height             : 400px !important;
    max-height         : 400px !important;
}

#gpum-popup label {
    /* font-size : 14px !important; */
    /* text-decoration : underline !important; */
}

/* ============================================================
   Title
   ============================================================ */

#gpum-popup-title {
    border             : 1px solid #2266b3 !important;
    -moz-border-radius : 4px !important;
    padding            : 3px 3px !important;
    margin             : 4px !important;
}

#gpum-popup-title > label {
    font-weight : bold !important;
}

/* ============================================================
   Each entry
   ============================================================ */

.gpum-popup-header {
    color      : white !important;
    background : -moz-linear-gradient(
        center bottom,
        rgb(81,119,156) 0%,
        rgb(125,148,171) 61%
    ) !important;
}

.gpum-popup-author {
    font-weight : bold !important;
}

.gpum-popup-title-container {
    border-bottom  : 1px dashed #2266b3 !important;
    padding-bottom : 3px !important;
}

.gpum-popup-summary {
    cursor      : alias !important;
    width       : 565px !important;
    max-width   : 565px !important;
    padding     : 6px 0 !important;
}

.gpum-popup-title {
    width       : 565px !important;
    max-width   : 565px !important;
    font-weight : bold !important;
}

.gpum-popup-icon {
    background-repeat   : no-repeat !important;
    background-position : center center !important;
    width               : 16px !important;
    height              : 16px !important;
    margin              : 0 2px !important;
    cursor              : pointer !important;
}

/* ============================================================
   Icons
   ============================================================ */

.gpum-popup-icon-inbox {
    background-image : url("chrome://gpum/skin/icon16/gmail.png") !important;
}

.gpum-popup-icon-compose {
    background-image : url("chrome://gpum/skin/icon16/email_edit.png") !important;
}

/* ============================================================
   Icons for each entry
   ============================================================ */

.gpum-popup-star {
    opacity          : 0.5 !important;
    background-image : url("chrome://gpum/skin/icon16/star.png") !important;
}

.gpum-popup-star:hover {
    opacity : 1.0 !important;
}

.gpum-popup-action-icon-container > .gpum-popup-icon {
    margin : 2px 5px !important;
    opacity : 0.7 !important;
}

.gpum-popup-action-icon-container > .gpum-popup-icon:hover {
    opacity : 1.0 !important;
}

.gpum-popup-icon-markread {
    background-image : url("chrome://gpum/skin/icon16/symbol_check.gif") !important;
}

.gpum-popup-icon-delete {
    background-image : url("chrome://gpum/skin/icon16/trash.gif") !important;
}

.gpum-popup-icon-markspam {
    background-image : url("chrome://gpum/skin/icon16/symbol_no.gif") !important;
}

.gpum-popup-icon-archive {
    background-image : url("chrome://gpum/skin/icon16/folder_right.gif") !important;
}
