.gmml-link {
    cursor : pointer;
}

gmml-link:hover {
    text-decoration : underline;
}

/* ============================================================
   Popup
   ============================================================ */

#gmml-popup {
    background-color : transparent;
}

#gmml-popup > vbox {
    width              : 600px;
    height             : 400px;
    max-width          : 600px;
    max-height         : 400px;
    overflow           : auto;
    background-color   : white;
    margin             : 5px;
    -moz-border-radius : 3px;
    border             : 1px solid #2266b3;
    -moz-box-shadow    : 0px 0px 7px #353535;
}

#gmml-popup description {
    font-size : 12px;
    width     : 570px;
}

.gmml-popup-header {
    color      : white;
    background : -moz-linear-gradient(
        center bottom,
        rgb(73,117,135) 47%,
        rgb(111,155,168) 90%
    )
}

.gmml-popup-author {
    font-weight : bold;
}

.gmml-popup-title-container {
    border-bottom  : 1px dashed #2266b3;
    padding-bottom : 3px;
}

.gmml-popup-title {
    font-weight : bold;
}

